input[type='submit']{
				background-color: blue;
				color: aliceblue;
				width: 45px;
				height: 30px;
				border: 1px dashed blue;
				border-radius: 5px;
			}
			input[type='button']{
				background-color: hotpink;
				color: aliceblue;
				width: 45px;
				height: 30px;
				border: 1px dashed hotpink;
				border-radius: 5px;
			}
			/* 选中class=a的元素 */
			.a{
				/* margin: 10px 10px 10px 0px; */
				width: 200px;
				height: 30px;
			}